<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3 text-light text-center">YTubers</h1>
          <p class="text-light mb-2 text-center">YTubers is created on purpose to make brands and different advertisement
              agency to collab with youtubers with their choice.
          </p>
        </div>
      </div>
</body>
</html>