<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/tubers.css">
    <title>Document</title>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3 text-light text-center">YTubers</h1>
          <p class="text-light mb-2 text-center">YTubers is created on purpose to make brands and different advertisement
              agency to collab with youtubers with their choice.
          </p>
        </div>
      </div>
      <div class="container-fluid">
          <div class="row">
            <div class="col-md-9">
                <div class="row d-flex justify-content-center">
                    <!-- cards start here -->
                    <div class="col-md-3">
                        <div class="card" >
                            <img class="card-img-top" src="/compressed-images/c1.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title text-center">John doe</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-warning">Know More</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img class="card-img-top" src="/compressed-images/c1.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title text-center">John doe</h5>
                              <p class="category text-center">gaming</p>
                              <p class="text-center">bio</p>
                              <a href="#" class="btn btn-warning">Know More</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img class="card-img-top" src="/compressed-images/c1.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title text-center">John doe</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-warning">Know More</a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <!-- search filter option -->
            <div class="col-md-3 d-flex flex-column">
                <h2 class="mt-2 text-center">Search for Youtubers</h2>
                <form class=" p-2 mt-2">
                  <div class="form-group">
                    <label for="City">City</label>
                    <select name="city"class="form-control">
                      <option value="Instructor">Delhi</option>
                      <option value="Intern">Ludhiana</option>
                      <option value="Other">Jharkand</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="camera type">Camera Type</label>
                    <select name="Camera type"class="form-control">
                      <option value="Instructor">Canon</option>
                      <option value="Intern">Digital</option>
                      <option value="Other">Nokia</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="category">Category</label>
                    <select name="Category" class="form-control">
                      <option value="Instructor">Teacher</option>
                      <option value="Intern">Programmer</option>
                      <option value="Other">Designer</option>
                    </select>
                  </div>
                  <div class="form-group text-center">
                    <button class="btn btn-secondary">Search</button>
                  </div>
                </form>
            </div>

          </div>
      </div>
      
</body>
</html>